input, button {
    margin: 0.5rem;
    padding: 1em;
    border-radius: 3px;
    font-size: 12pt;
    border-width: 1px;
}
input[type="text"], input[type="password"] {
    width: calc(100% - 3rem);
}
body {
    font-family: sans-serif;
    background-color: #293173;
    background-image: url(https://app.tilig.com/assets/login_screen_asset.1f71ee4c.svg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
div.scroll {
    height: 100vh;
    overflow: auto;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
}
.code {
    font-family: monospace;
}
.note {
    font-size: 11pt;
    padding-left: 1rem;
    margin-top: 1.5rem;
}
.chrome::before {
    content: "of Chrome:";
    margin-top: -1.2em; margin-left: -1rem;
    position: absolute;
}
.extension::before {
    content: "of Tilig Chrome extension:";
    margin-top: -1.2em; margin-left: -1rem;
    position: absolute;
}
.android-app::before {
    content: "of Tilig for Android, in Test Lab app:";
    margin-top: -1.2em; margin-left: -1rem;
    position: absolute;
}
.android-browser::before {
    content: "of Tilig for Android, in browser:";
    margin-top: -1.2em; margin-left: -1rem;
    position: absolute;
}
.android::before {
    content: "of Tilig for Android:";
    margin-top: -1.2em; margin-left: -1rem;
    position: absolute;
}
.ios::before {
    content: "of Tilig for iOS, in browser:";
    margin-top: -1.2em; margin-left: -1rem;
    position: absolute;
}
.expected {
    margin: 2rem 3rem;
}
.expected::before {
    content: "Expected behaviour";
    font-size:  15pt;
    font-weight:  bold;
}
.form, .expected {
    background: #ffffff;
    margin: 1rem 0.2rem;
    border-radius: 0.5rem;
    padding: 2rem;
}
label {
    display: block;
}
h1, h2 {
    text-align: center;
    width: 100%;
    color: white;
}
hr {
    clear: both;
}
li a {
    text-decoration: none;
    line-height:  2rem;
}
