<h2>Amazon</h2>
<div>
	<input type="tel" maxlength="20" id="auth-mfa-otpcode" autocomplete="off" name="otpCode" class="a-input-text a-span12 auth-autofocus auth-required-field">
</div>
<h2>facebook</h2>
<div>
	<input type="text" class="inputtext" id="approvals_code" name="approvals_code" tabindex="1" autocomplete="off" placeholder="Login code" aria-label="Login code">
</div>
<h2>LinkedIn</h2>
<div>
	<input class="form__input--text input_verification_pin" name="pin" maxlength="6" type="tel" pattern="[0-9]*" autocorrect="off" role="textbox" autocomplete="off" aria-label="Please enter the code here" aria-describedby="phone-pin-error" id="input__phone_verification_pin" aria-required="true" validation="pin" validation-message="Please enter the code present on your app">
</div>
<h2>PayPal</h2>
<div>
	<form method="post" novalidate=""><div><div><div class="codeInput"><div class="ppvx_code-input___1-4-1 codeInput-wrapper" id="otpCode"><div class="ppvx_code-input__input-wrapper___1-4-1"><div class="ppvx_text-input___3-14-1 ppvx_text-input--nolabel___3-14-1 ppvx--v2___3-14-1 ppvx_code-input__text-input___1-4-1"><input type="tel" class="ppvx_text-input__control___3-14-1 ppvx_code-input__input___1-4-1 hasHelp" name="otpCode-0" id="ci-otpCode-0" aria-invalid="false" placeholder=" " aria-label="1-6" role="textbox" aria-describedby="otpCode" for="securityCodeInput" value=""><label for="ci-otpCode-0" id="ci-otpCode-0-label" class="ppvx_text-input__label___3-14-1 otpCodeLabel data-nemo"></label></div><div class="ppvx_text-input___3-14-1 ppvx_text-input--nolabel___3-14-1 ppvx--v2___3-14-1 ppvx_code-input__text-input___1-4-1"><input type="tel" class="ppvx_text-input__control___3-14-1 ppvx_code-input__input___1-4-1 hasHelp" name="otpCode-1" id="ci-otpCode-1" aria-invalid="false" placeholder=" " aria-label="2-6" role="textbox" aria-describedby="otpCode" for="securityCodeInput" value=""><label for="ci-otpCode-1" id="ci-otpCode-1-label" class="ppvx_text-input__label___3-14-1 otpCodeLabel data-nemo"></label></div><div class="ppvx_text-input___3-14-1 ppvx_text-input--nolabel___3-14-1 ppvx--v2___3-14-1 ppvx_code-input__text-input___1-4-1"><input type="tel" class="ppvx_text-input__control___3-14-1 ppvx_code-input__input___1-4-1 hasHelp" name="otpCode-2" id="ci-otpCode-2" aria-invalid="false" placeholder=" " aria-label="3-6" role="textbox" aria-describedby="otpCode" for="securityCodeInput" value=""><label for="ci-otpCode-2" id="ci-otpCode-2-label" class="ppvx_text-input__label___3-14-1 otpCodeLabel data-nemo"></label></div><div class="ppvx_text-input___3-14-1 ppvx_text-input--nolabel___3-14-1 ppvx--v2___3-14-1 ppvx_code-input__text-input___1-4-1"><input type="tel" class="ppvx_text-input__control___3-14-1 ppvx_code-input__input___1-4-1 hasHelp" name="otpCode-3" id="ci-otpCode-3" aria-invalid="false" placeholder=" " aria-label="4-6" role="textbox" aria-describedby="otpCode" for="securityCodeInput" value=""><label for="ci-otpCode-3" id="ci-otpCode-3-label" class="ppvx_text-input__label___3-14-1 otpCodeLabel data-nemo"></label></div><div class="ppvx_text-input___3-14-1 ppvx_text-input--nolabel___3-14-1 ppvx--v2___3-14-1 ppvx_code-input__text-input___1-4-1"><input type="tel" class="ppvx_text-input__control___3-14-1 ppvx_code-input__input___1-4-1 hasHelp" name="otpCode-4" id="ci-otpCode-4" aria-invalid="false" placeholder=" " aria-label="5-6" role="textbox" aria-describedby="otpCode" for="securityCodeInput" value=""><label for="ci-otpCode-4" id="ci-otpCode-4-label" class="ppvx_text-input__label___3-14-1 otpCodeLabel data-nemo"></label></div><div class="ppvx_text-input___3-14-1 ppvx_text-input--nolabel___3-14-1 ppvx--v2___3-14-1 ppvx_code-input__text-input___1-4-1"><input type="tel" class="ppvx_text-input__control___3-14-1 ppvx_code-input__input___1-4-1 hasHelp" name="otpCode-5" id="ci-otpCode-5" aria-invalid="false" placeholder=" " aria-label="6-6" role="textbox" aria-describedby="otpCode" for="securityCodeInput" value=""><label for="ci-otpCode-5" id="ci-otpCode-5-label" class="ppvx_text-input__label___3-14-1 otpCodeLabel data-nemo"></label></div></div></div></div></div></div><button class="ppvx_btn___5-11-8 ppvx--v2___5-11-8 submit-form-button" type="submit" data-nemo="twofactorSubmit">Doorgaan</button></form>
</div>
<h2>Reddit</h2>
<div>
	<input id="otp" class="AnimatedForm__textInput   m-modalUpdate " type="tel" name="otp" pattern="[0-9]*" autocomplete="off" placeholder="
    6 digit code
  " data-lpignore="true" data-empty="true">
</div>
<h2>Roblox</h2>
<div>
	<input as="input" inputmode="numeric" autocomplete="off" maxlength="6" placeholder="Enter 6-digit Code" type="text" id="two-step-verification-code-input" class="input-field form-control" value="">
</div>
